{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Gen ...</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="search-container">
        <form method="GET" action="{% url 'search_results' %}">
            {% csrf_token %}
            <!-- {{ form.as_p }} -->
            <textarea name="query" placeholder="Build your startup today..." required></textarea>
            <button class="search-button" type="submit">
                <i class="search-icon">🔍</i> Search
            </button>
        </form>
    </div>
</body>
</html>
